<div class="serachBar">
    <div class="container">
        <form action="/serach" class="serach_form" role="serach" method="POST">

            <input type="search"
            aria-label="Serach"
            id="serachInput"
            name="serachTerm"
            placeholder="Serach the site...">
        </form>
        <div class="serachClose">Close</div>
    </div>


</div>